/*==============================
=            Header            =
==============================*/

.header {
    background: $secondary-color;
    @include size(100% 60px);
    box-shadow: 0px 1px 3px rgba(black, 0.1);
    .logo {
        float: left;
        height: 60px;
        h3 {
            font-weight: bold;
            text-transform: uppercase;
            line-height: 60px;
            color: white;
        }
    }
    #menu-main-menu {
        float: right;
        height: 60px;
        @include transition(all .3s ease-in-out);
        @include media(max-width 769px) {
            opacity: 0;
            visibility: hidden;
        }
        @include media(max-width 767px) {
            @include position(absolute, 60px null null 0);
            background: $secondary-color;
            @include size(100% auto);
            border-top: 1px solid darken($secondary-color, 10%);
            z-index: 10;
        }
        &.open {
            opacity: 1;
            visibility: visible;
        }
        li {
            display: inline-block;
            position: relative;
            @include media(max-width 767px) {
                display: block;
                padding: 0 20px;
            }
            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.login-register {
                a {
                    color: black !important;
                    background: $primary-color;
                    padding: 1rem 2rem;
                    border-radius: 3rem;
                    @include transition(all .3s ease-in-out);
                    &:hover {
                        background: lighten($primary-color, 10%)
                    }
                    @include media(max-width 767px) {
                        background: none;
                        padding: 0;
                        color: white !important;
                        &:hover {
                            background: none;
                        }
                    }
                }
            }
            &.current_page_item {
                a {
                    color: $link-color;
                }
            }
            &.menu-item-has-children {
                a {
                    background: url('img/arrow-down-white.svg') no-repeat center right / 15px;
                    padding-right: 2.5rem;
                }
                .sub-menu {
                    a {
                        background: none;
                    }
                }
            }
            a {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 60px;
                text-transform: uppercase;
                color: white;
                font-family: $heading-font;
                text-decoration: none;
                padding: 0 15px;
                @include transition(all .3s ease);
                &:hover {
                    color: lighten($link-color, 10%);
                }
                @include media(max-width 480px) {
                    display: block;
                    padding: 0;
                }
            }
            .sub-menu {
                @include position(absolute, 100% 0 null null);
                background: $color-text;
                line-height: 1;
                @include transition(all .3s ease);
                z-index: 100;
                min-width: 150px;
                text-align: right;
                opacity: 0;
                visibility: hidden;
                li {
                    display: block;
                    &.current_page_item {
                        a {
                            background: lighten($color-text, 10%);
                        }
                    }
                    a {
                        color: white;
                        margin: 0;
                        line-height: 1;
                        padding: 15px;
                        display: block;
                        &:hover {
                            background: lighten($color-text, 10%);
                        }
                    }
                }
            }
        }
    }
    .hamburger-icon {
        @include size(30px 20px);
        float: right;
        position: relative;
        background: none;
        border: none;
        outline: none;
        @include transform(rotate(0deg));
        @include transition(all .5s ease-in-out);
        cursor: pointer;
        display: none;
        margin-top: 18px;
        @include media(max-width 769px) {
            display: block;
        }
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: white;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            @include transform(rotate(0deg));
            @include transition(all .25s ease-in-out);
        }
        span:nth-child(1) {
            top: 0px;
        }
        span:nth-child(2),
        span:nth-child(3) {
            top: 8px;
        }
        span:nth-child(4) {
            top: 16px;
        }
        &.open span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
        &.open span:nth-child(2) {
            @include transform(rotate(45deg));
        }
        &.open span:nth-child(3) {
            @include transform(rotate(-45deg));
        }
        &.open span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }
    span.no-menu {
        float: right;
        line-height: 60px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        font-size: 1.2rem;
        font-family: $heading-font;
    }
    .search-icon {
        position: relative;
        cursor: pointer;
        background: url('img/search.svg') no-repeat center center / 20px;
        width: 20px;
        height: 20px;
        display: inline-block;
        float: right;
        border: none;
        outline: none;
        margin-top: 18px;
        cursor: pointer;
        margin-right: 20px;
    }
    .search-wrapper {
    	position: absolute;
    	background: rgba(0, 0, 0, 0.9);
    	width: 100%;
    	height: 100%;
    	left: 0;
    	top: 0;
    	z-index: 10;
    	opacity: 0;
    	visibility: hidden;
    	transition: all .3s ease-in-out;
    	&.open {
    		opacity: 1;
    		visibility: visible;
    		input[type="text"] {
    			opacity: 1;
    			transition-delay: 0.3s;
    			transform: translateY(0px);
    		}
    		.close-icon {
    			opacity: 1;
    			transform: translateY(0px);
    			transition-delay: 0.3s;
    		}
    	}
    	form {
    		max-width: 980px;
    		margin: 50px auto;
    		position: relative;
    		padding: 0 30px;
    	}
    	input[type="text"] {
    		background: none;
    		border: none;
    		box-shadow: none;
    		width: 100%;
    		font-size: 2rem;
    		padding: 2rem;
    		color: white;
    		font-family: $heading-font;
    		border-bottom: 1px solid white;
    		opacity: 0;
    		transform: translateY(-40px);
    	}
    	input[type="submit"] {
    		display: none;
    	}
    	.close-icon {
    		position: absolute;
    		top: -30px;
    		right: 30px;
    		background: none;
    		border: none;
    		outline: none;
    		z-index: 1;
    		cursor: pointer;
    		transition: all .3s ease-in-out;
    		opacity: 0;
    		transform: translateY(-40px);
    		img {
    			fill: white;
    		}
    	}
    }
}
