/*===============================
=            Sidebar            =
===============================*/
.sidebar .widget {
    margin-bottom: 25px;
    list-style-type: none;
    .widget-title {
        position: relative;
        overflow: hidden;
        margin-bottom: 7px;
        &:after {
            content: '';
            position: absolute;
            background-image: url(img/sidebar-pattern.png);
            background-repeat: repeat;
            width: 1000px;
            height: 20px;
            display: inline-block;
            overflow: hidden;
            top: 50%;
            margin: -10px 0 0 22px;
        }
    }
    .sidebar-title-separator {
        display: block;
    }
    .separator-holder.separator-left {
        text-align: left;
    }
    .separator-holder {
        position: relative;
        height: auto;
        font-size: 0;
        line-height: 1em;
    }
    .separator {
	    position: relative;
	    display: inline-block;
	    vertical-align: middle;
	    border-bottom: 1px solid #b2b2b2;
	    margin: 10px 0;
	}
	.separator-holder .separator {
	    width: 30px;
	    border-bottom-width: 2px;
	    border-bottom-color: #ffc000;
	}
    
}

// Woocommerce
.widget_products {
    .product_list_widget {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: table;
            width: 100%;
            margin-bottom: 2rem;
            img {
                max-width: 50px; 
                float: left;
                margin-right: 1rem
            }
            del {
                font-size: 1.2rem;
                margin-right: 0.5rem;
                opacity: 0.5;
            }
        }
    }
}

.product-categories {
    padding: 2rem 0;
    li {
        text-transform: uppercase;
        font-weight: bold;
        .children {
            padding: 1rem 2rem;
            li {
                text-transform: initial;
                font-weight: 500;
                a {
                    color: #aaa;
                }
            }
        }
        span.count {
            font-size: 1.1rem;
        }
    }
}

.tagcloud {
    margin-top: 2rem;
    a {
        background: #eee;
        padding: 5px 10px;
        border-radius: 30px;
        color: $secondary-color;
        border: 1px solid #ccc;
        @include transition(all .3s ease-in-out);
        margin-bottom: 0.5rem;
        display: inline-block;
        &:hover {
            background: $secondary-color;
            border-color: $secondary-color;
            color: white;
        }
    }
}