/*==============================
=            Forms            =
==============================*/

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
    font-size: 1.4rem;
    color: $color-text;
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 1px #ccc;
    padding: 1.1rem 1.5rem;
    transition: all .2s ease;
    &:focus {
        box-shadow: inset 0 0 0 1px $color-text;
    }
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
}

/*=====  End of INPUTS  ======*/