/*=================================
=            Variables            =
=================================*/

/*----------  fonts  ----------*/

$primary-font: 'Open Sans', sans-serif !default;
$heading-font: 'Poppins', sans-serif !default;

/*----------  colors  ----------*/

$primary-color: #ffc000 !default;
$secondary-color: #684756 !default;
$link-color: #ffc000 !default;

$color-text: #313131 !default;

/*----------  base  ----------*/

$container-width: 1024px !default;
$base-space-unit: 1rem  !default;