/*=============================
=            Intro            =
=============================*/
.intro {
	background: url('img/slider.jpg') no-repeat center center / cover;
	display: table;
	@include size(100% 500px);
	.intro-wrapper {
		display: table-cell;
		vertical-align: middle;
		.intro-body {
			max-width: 400px;
		}
	}
}